{% extends 'blogs/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% block cssfile %}
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="container">
            <div class="text-center" style="margin: 20px;background-color: black;padding: 20px;">
                <h1 style="color: white;">Contact Me</h1>
            </div>
        </div>
    {% endblock content %}
</body>
</html>






