{% extends 'blogs/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% block cssfile %}
        <link rel="stylesheet" href="{% static 'blogs/homeMain.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container ">
        <div class="dropdown text-right mb-3" >
            <a class="btn  btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by
            </a>
            {% if comm == True %}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'blogs:sortUpvotesComm' community_id %}">Upvotes</a>
                    <a class="dropdown-item" href="{% url 'blogs:sortDownvotesComm' community_id %}">Downvotes</a>
                    <a class="dropdown-item" href="{% url 'blogs:sortOldComm' community_id %}">Oldest</a>
                    <a class="dropdown-item" href="{% url 'blogs:sortNewComm' community_id %}">Newest</a>
                    <a class="dropdown-item" href="{% url 'blogs:trendingTodayComm' community_id %}">Trending today</a>
                </div>
            {% else %}
                {{community_id}}
                {% if page == 'my' %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'blogs:sortUpvotes' 'my' %}">Upvotes</a>
                        <a class="dropdown-item" href="{% url 'blogs:sortDownvotes' 'my' %}">Downvotes</a>
                        <a class="dropdown-item" href="{% url 'blogs:sortOld' 'my' %}">Oldest</a>
                        <a class="dropdown-item" href="{% url 'blogs:sortNew' 'my' %}">Newest</a>
                        <a class="dropdown-item" href="{% url 'blogs:trendingToday' 'my' %}">Trending today</a>
                    </div>
                {% else %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'blogs:sortUpvotes' 'home' %}">Upvotes</a>
                        <a class="dropdown-item" href="{% url 'blogs:sortDownvotes' 'home' %}">Downvotes</a>
                        <a class="dropdown-item" href="{% url 'blogs:sortOld' 'home' %}">Oldest</a>
                        <a class="dropdown-item" href="{% url 'blogs:sortNew' 'home' %}">Newest</a>
                        <a class="dropdown-item" href="{% url 'blogs:trendingToday' 'home' %}">Trending today</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        {% if list %}
            {% for each_blog, each_prof_obj, each_user,each_comm in list %}
                <a href="{% url 'blogs:blogPost' each_blog.id %}"> 
                    <div class="row">
                        <p class="username"><img src="{{ each_prof_obj.cover.url }}" class="rounded-circle profile_img" width="100" height="100" alt=""> {{each_user.username}}</p>   
                        <p class="community text-info">C'{{each_comm.community}}'</p>
                        <h2 style="color: white;margin-bottom: 20px;"> {{each_blog.title}} </h2> 
                        <p style="color: gray;text-align: right;font-size: 20px; width: 100%; margin-bottom: 0px;">...Select for more info</p>   
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h2 style="color: white;text-align: center;">No Blogs Available</h2>
        {% endif %}

        <div class="pagination">
            {% if page_obj %}
            <nav aria-label="Page navigation example" style="margin: auto;">
                <ul class="pagination">
                    {% if page_obj.has_previous %}                                        
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                    {% endif %}

                    <span class="current">
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
                        </li>
                    <!-- Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. -->
                    </span>

                    {% if page_obj.has_next %}                                    
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a></li>
                    {% endif %}

                </ul>
              </nav>
              {% endif %}
        </div>


    </div>
    
    {% endblock content %}
</body>
</html>