{% extends 'blogs/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% block cssfile %}
        <link rel="stylesheet" href="{% static 'blogs/profile.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    
    {% block content %}
        
        <div class="container col-md-6 text-center">
            <h1>Profile</h1>
            {% if type == 'edit' %}
                <form method="POST" enctype="multipart/form-data" class="text-center"> 
                    {% csrf_token %}
                    {{ form1|crispy }}
                    {{ form2|crispy }}
                    <button type="submit" value="submit" class="btn btn-light text-center">Save</button>
                </form> 

            {% else %}
                {% if profile_obj.cover %}
                    <img src="{{ profile_obj.cover.url }} "  alt="">
                {% endif %}
                {% if edit == True %}
                    <p class="edit"><a href="{% url 'blogs:Editprofile' profile_obj.usr_id  %}"> <i class="fas fa-edit"></i>Edit profile</a></p>
                {% endif %}
                <p class="p">Username : {{  user.username }} </p>
                <p class="p">Email : {{ user.email }}</p>
                Status : <a href="" class="badge badge-info status">{{ profile_obj.status }}</a>
            {% endif %}
        </div>
        <script src="{% static 'blogs/NewblogProfile.js' %}"></script>
    {% endblock content %}

</body>
</html>